<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
body{
    font-family: Arial;
    background: #f0f7ff;
    padding: 40px;
}

.box{
    width: 350px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px lightgray;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}

p{
    font-size: 20px;
    color: #333;
}
</style>
</head>
<body ng-app="">
    <h2>Student Information Form</h2>

    Name: <input type="text" ng-model="name"><br><br>
    Roll No: <input type="text" ng-model="roll"><br><br>
    Department: <input type="text" ng-model="dept"><br><br>

    <p>Name: {{name}}</p>
    <p>Roll No: {{roll}}</p>
    <p>Department: {{dept}}</p>
</body>
</html>